
app = 'thing'
primary_region = 'fra'
swap_size_mb = 512

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3000'
  HOSTNAME = "0.0.0.0"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/api/healthz"

[[vm]]
  size   = "shared-cpu-1x"
  memory = "512mb"
  cpu_kind = "shared"
  cpus      = 1
